<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger</title>
</head>

<body>
	<img src="https://i0.wp.com/freepngimages.com/wp-content/uploads/2016/11/bacon-burger.png?fit=895%2C895" width="400px" id="burgerPic">

	{{{ body }}}

</body>
</html>.
